In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
path = '/content/gdrive/My Drive/Project/'
filepath = path+'matches.csv'
file=open(filepath,"r")

In [ ]:
filecontent=file.read()

In [ ]:
gdrive_path = '/content/gdrive/My Drive/Project/'

In [ ]:
matches = pd.read_csv("../content/gdrive/MyDrive/Project/matches.csv")
matches.head()

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
1,2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
2,3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
3,4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
4,6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [ ]:
matches.shape

(1389, 28)

In [ ]:
matches["team"].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64

In [ ]:
matches[matches["team"]== "Liverpool"]

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
705,1,2020-09-12,17:30,Premier League,Matchweek 1,Sat,Home,W,4.0,3.0,...,Match Report,NaN,20.0,4.0,17.0,0.0,2.0,2.0,2021,Liverpool
706,2,2020-09-20,16:30,Premier League,Matchweek 2,Sun,Away,W,2.0,0.0,...,Match Report,NaN,17.0,5.0,17.7,1.0,0.0,0.0,2021,Liverpool
707,4,2020-09-28,20:00,Premier League,Matchweek 3,Mon,Home,W,3.0,1.0,...,Match Report,NaN,21.0,9.0,16.8,0.0,0.0,0.0,2021,Liverpool
708,6,2020-10-04,19:15,Premier League,Matchweek 4,Sun,Away,L,2.0,7.0,...,Match Report,NaN,14.0,8.0,15.8,1.0,0.0,0.0,2021,Liverpool
709,7,2020-10-17,12:30,Premier League,Matchweek 5,Sat,Away,D,2.0,2.0,...,Match Report,NaN,22.0,8.0,15.0,1.0,0.0,0.0,2021,Liverpool
710,9,2020-10-24,20:00,Premier League,Matchweek 6,Sat,Home,W,2.0,1.0,...,Match Report,NaN,17.0,5.0,18.2,1.0,0.0,0.0,2021,Liverpool
711,11,2020-10-31,17:30,Premier League,Matchweek 7,Sat,Home,W,2.0,1.0,...,Match Report,NaN,8.0,2.0,18.6,1.0,1.0,1.0,2021,Liverpool
712,13,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Away,D,1.0,1.0,...,Match Report,NaN,9.0,2.0,21.5,0.0,1.0,1.0,2021,Liverpool
713,14,2020-11-22,19:15,Premier League,Matchweek 9,Sun,Home,W,3.0,0.0,...,Match Report,NaN,24.0,12.0,11.9,0.0,0.0,0.0,2021,Liverpool
714,16,2020-11-28,12:30,Premier League,Matchweek 10,Sat,Away,D,1.0,1.0,...,Match Report,NaN,6.0,2.0,20.9,0.0,0.0,0.0,2021,Liverpool
715,18,2020-12-06,19:15,Premier League,Matchweek 11,Sun,Home,W,4.0,0.0,...,Match Report,NaN,11.0,6.0,16.6,1.0,0.0,0.0,2021,Liverpool
716,20,2020-12-13,16:30,Premier League,Matchweek 12,Sun,Away,D,1.0,1.0,...,Match Report,NaN,11.0,5.0,20.0,1.0,1.0,1.0,2021,Liverpool
717,21,2020-12-16,20:00,Premier League,Matchweek 13,Wed,Home,W,2.0,1.0,...,Match Report,NaN,17.0,11.0,15.5,0.0,0.0,0.0,2021,Liverpool
718,22,2020-12-19,12:30,Premier League,Matchweek 14,Sat,Away,W,7.0,0.0,...,Match Report,NaN,14.0,7.0,13.2,1.0,0.0,0.0,2021,Liverpool
719,23,2020-12-27,16:30,Premier League,Matchweek 15,Sun,Home,D,1.0,1.0,...,Match Report,NaN,17.0,2.0,17.8,2.0,0.0,0.0,2021,Liverpool
720,24,2020-12-30,20:00,Premier League,Matchweek 16,Wed,Away,D,0.0,0.0,...,Match Report,NaN,11.0,4.0,16.7,0.0,0.0,0.0,2021,Liverpool
721,25,2021-01-04,20:00,Premier League,Matchweek 17,Mon,Away,L,0.0,1.0,...,Match Report,NaN,17.0,1.0,14.3,0.0,0.0,0.0,2021,Liverpool
722,27,2021-01-17,16:30,Premier League,Matchweek 19,Sun,Home,D,0.0,0.0,...,Match Report,NaN,17.0,3.0,17.1,0.0,0.0,0.0,2021,Liverpool
723,28,2021-01-21,20:00,Premier League,Matchweek 18,Thu,Home,L,0.0,1.0,...,Match Report,NaN,27.0,6.0,17.3,0.0,0.0,0.0,2021,Liverpool
724,30,2021-01-28,20:00,Premier League,Matchweek 20,Thu,Away,W,3.0,1.0,...,Match Report,NaN,14.0,7.0,14.7,0.0,0.0,0.0,2021,Liverpool
725,31,2021-01-31,16:30,Premier League,Matchweek 21,Sun,Away,W,3.0,1.0,...,Match Report,NaN,14.0,5.0,15.3,0.0,0.0,0.0,2021,Liverpool
726,32,2021-02-03,20:15,Premier League,Matchweek 22,Wed,Home,L,0.0,1.0,...,Match Report,NaN,11.0,0.0,19.9,0.0,0.0,0.0,2021,Liverpool
727,33,2021-02-07,16:30,Premier League,Matchweek 23,Sun,Home,L,1.0,4.0,...,Match Report,NaN,7.0,2.0,17.9,1.0,1.0,1.0,2021,Liverpool
728,34,2021-02-13,12:30,Premier League,Matchweek 24,Sat,Away,L,1.0,3.0,...,Match Report,NaN,15.0,4.0,15.4,2.0,0.0,0.0,2021,Liverpool
729,36,2021-02-20,17:30,Premier League,Matchweek 25,Sat,Home,L,0.0,2.0,...,Match Report,NaN,16.0,6.0,15.9,1.0,0.0,0.0,2021,Liverpool
730,37,2021-02-28,19:15,Premier League,Matchweek 26,Sun,Away,W,2.0,0.0,...,Match Report,NaN,15.0,8.0,14.2,0.0,0.0,0.0,2021,Liverpool
731,38,2021-03-04,20:15,Premier League,Matchweek 29,Thu,Home,L,0.0,1.0,...,Match Report,NaN,7.0,1.0,18.4,0.0,0.0,0.0,2021,Liverpool
732,39,2021-03-07,14:00,Premier League,Matchweek 27,Sun,Home,L,0.0,1.0,...,Match Report,NaN,16.0,3.0,17.0,1.0,0.0,0.0,2021,Liverpool
733,41,2021-03-15,20:00,Premier League,Matchweek 28,Mon,Away,W,1.0,0.0,...,Match Report,NaN,12.0,4.0,15.9,0.0,0.0,0.0,2021,Liverpool
734,42,2021-04-03,20:00,Premier League,Matchweek 30,Sat,Away,W,3.0,0.0,...,Match Report,NaN,16.0,7.0,17.0,0.0,0.0,0.0,2021,Liverpool
735,44,2021-04-10,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,...,Match Report,NaN,23.0,8.0,16.7,1.0,0.0,0.0,2021,Liverpool
736,46,2021-04-19,20:00,Premier League,Matchweek 32,Mon,Away,D,1.0,1.0,...,Match Report,NaN,17.0,7.0,15.7,0.0,0.0,0.0,2021,Liverpool
737,47,2021-04-24,12:30,Premier League,Matchweek 33,Sat,Home,D,1.0,1.0,...,Match Report,NaN,21.0,9.0,17.0,1.0,0.0,0.0,2021,Liverpool
738,48,2021-05-08,20:15,Premier League,Matchweek 35,Sat,Home,W,2.0,0.0,...,Match Report,NaN,14.0,6.0,12.4,0.0,0.0,0.0,2021,Liverpool
739,49,2021-05-13,20:15,Premier League,Matchweek 34,Thu,Away,W,4.0,2.0,...,Match Report,NaN,17.0,8.0,14.9,0.0,0.0,0.0,2021,Liverpool
740,50,2021-05-16,16:30,Premier League,Matchweek 36,Sun,Away,W,2.0,1.0,...,Match Report,NaN,26.0,6.0,16.9,1.0,0.0,0.0,2021,Liverpool
741,51,2021-05-19,20:15,Premier League,Matchweek 37,Wed,Away,W,3.0,0.0,...,Match Report,NaN,20.0,3.0,15.5,1.0,0.0,0.0,2021,Liverpool
742,52,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,2.0,0.0,...,Match Report,NaN,19.0,5.0,14.2,1.0,0.0,0.0,2021,Liverpool

In [ ]:
matches["round"].value_counts()

Matchweek 1     39
Matchweek 16    39
Matchweek 34    39
Matchweek 32    39
Matchweek 31    39
Matchweek 29    39
Matchweek 28    39
Matchweek 26    39
Matchweek 25    39
Matchweek 24    39
Matchweek 23    39
Matchweek 2     39
Matchweek 19    39
Matchweek 17    39
Matchweek 20    39
Matchweek 15    39
Matchweek 5     39
Matchweek 3     39
Matchweek 13    39
Matchweek 12    39
Matchweek 4     39
Matchweek 11    39
Matchweek 10    39
Matchweek 9     39
Matchweek 8     39
Matchweek 14    39
Matchweek 7     39
Matchweek 6     39
Matchweek 30    37
Matchweek 27    37
Matchweek 22    37
Matchweek 21    37
Matchweek 18    37
Matchweek 33    32
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [ ]:
matches.dtypes

Unnamed: 0        int64
date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [ ]:
  matches["date"] = pd.to_datetime(matches["date"])

In [ ]:
matches.dtypes

Unnamed: 0               int64
date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [ ]:
#Creating predictors for Machine Learning
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [ ]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [ ]:
matches["hour"] = matches["time"].str.replace(":.+","", regex = True).astype("int")

In [ ]:
matches["day_code"] = matches["date"].dt.dayofweek

In [ ]:
matches["target"] = (matches["result"] == "W").astype("int")

In [ ]:
#Creating Initial ML Model & Training it
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators= 50, min_samples_split=10, random_state=1)

In [ ]:
train = matches[matches["date"] < '2022-01-01']
test = matches[matches["date"] > '2022-01-01']

In [ ]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [ ]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [ ]:
preds = rf.predict(test[predictors])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(test["target"], preds)

In [ ]:
acc

0.6123188405797102

In [ ]:
combined = pd.DataFrame(dict(actual=test["target"], prediction = preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0   1
actual
0           141  31
1            76  28

In [ ]:
from sklearn.metrics import precision_score

In [ ]:
precision_score(test["target"] , preds)

0.4745762711864407

In [ ]:
grouped_matches = matches.groupby("team")

In [ ]:
group = grouped_matches.get_group("Manchester City")

In [ ]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed = 'left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [ ]:
cols = ["gf", "ga","sh","sot","dist","fk","pk","pkatt" ]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
632,5,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,...,5,1,2.000000,2.333333,17.333333,4.666667,18.900000,1.333333,0.333333,0.333333
633,7,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,...,5,0,1.333333,2.000000,17.333333,3.666667,17.733333,0.666667,0.000000,0.000000
634,9,2020-10-31,12:30,Premier League,Matchweek 7,Sat,Away,W,1.0,0.0,...,5,1,1.000000,0.666667,16.666667,4.333333,18.233333,0.666667,0.000000,0.000000
635,11,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Home,D,1.0,1.0,...,6,0,1.000000,0.333333,14.333333,6.666667,18.466667,1.000000,0.000000,0.000000
636,12,2020-11-21,17:30,Premier League,Matchweek 9,Sat,Away,L,0.0,2.0,...,5,0,1.000000,0.666667,12.000000,5.666667,19.366667,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,42,2022-03-14,20:00,Premier League,Matchweek 29,Mon,Away,D,0.0,0.0,...,0,0,2.333333,1.333333,19.000000,7.000000,15.366667,0.333333,0.333333,0.333333
29,44,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Away,W,2.0,0.0,...,5,1,1.666667,0.333333,18.333333,7.333333,16.000000,0.333333,0.000000,0.000000
30,46,2022-04-10,16:30,Premier League,Matchweek 32,Sun,Home,D,2.0,2.0,...,6,0,2.000000,0.333333,20.000000,6.666667,16.133333,0.333333,0.000000,0.000000
31,49,2022-04-20,20:00,Premier League,Matchweek 30,Wed,Home,W,3.0,0.0,...,2,1,1.333333,0.666667,15.666667,4.666667,16.700000,0.333333,0.000000,0.000000
32,50,2022-04-23,15:00,Premier League,Matchweek 34,Sat,Home,W,5.0,1.0,...,5,1,2.333333,0.666667,15.333333,5.000000,17.200000,0.333333,0.000000,0.000000

In [ ]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [ ]:
matches_rolling

                             Unnamed: 0       date   time            comp  \
team
Arsenal                 898           6 2020-10-04  14:00  Premier League
                        899           7 2020-10-17  17:30  Premier League
                        900           9 2020-10-25  19:15  Premier League
                        901          11 2020-11-01  16:30  Premier League
                        902          13 2020-11-08  19:15  Premier League
...                                 ...        ...    ...             ...
Wolverhampton Wanderers 227          32 2022-03-13  14:00  Premier League
                        228          33 2022-03-18  20:00  Premier League
                        229          34 2022-04-02  15:00  Premier League
                        230          35 2022-04-08  20:00  Premier League
                        231          36 2022-04-24  14:00  Premier League

                                    round  day venue result   gf   ga  ...  \
team                                                                   ...
Arsenal                 898   Matchweek 4  Sun  Home      W  2.0  1.0  ...
                        899   Matchweek 5  Sat  Away      L  0.0  1.0  ...
                        900   Matchweek 6  Sun  Home      L  0.0  1.0  ...
                        901   Matchweek 7  Sun  Away      W  1.0  0.0  ...
                        902   Matchweek 8  Sun  Home      L  0.0  3.0  ...
...                                   ...  ...   ...    ...  ...  ...  ...
Wolverhampton Wanderers 227  Matchweek 29  Sun  Away      W  1.0  0.0  ...
                        228  Matchweek 30  Fri  Home      L  2.0  3.0  ...
                        229  Matchweek 31  Sat  Home      W  2.0  1.0  ...
                        230  Matchweek 32  Fri  Away      L  0.0  1.0  ...
                        231  Matchweek 34  Sun  Away      L  0.0  1.0  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 898        6       1    2.000000    1.333333
                        899        5       0    1.666667    1.666667
                        900        6       0    1.000000    1.666667
                        901        6       1    0.666667    1.000000
                        902        6       0    0.333333    0.666667
...                              ...     ...         ...         ...
Wolverhampton Wanderers 227        6       1    1.333333    1.000000
                        228        4       0    1.666667    0.666667
                        229        5       1    2.333333    1.000000
                        230        4       0    1.666667    1.333333
                        231        6       0    1.333333    1.666667

                             sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 898    7.666667    3.666667    14.733333   0.666667
                        899    5.333333    3.666667    15.766667   0.000000
                        900    7.000000    3.666667    16.733333   0.666667
                        901    9.666667    4.000000    16.033333   1.000000
                        902    9.666667    2.666667    18.033333   1.000000
...                                 ...         ...          ...        ...
Wolverhampton Wanderers 227   12.333333    3.666667    19.300000   0.000000
                        228   12.333333    4.333333    19.600000   0.000000
                        229   13.000000    5.333333    19.833333   0.000000
                        230   13.000000    5.000000    18.533333   0.000000
                        231   10.000000    4.666667    17.633333   0.000000

                            pk_rolling  pkatt_rolling
team
Arsenal                 898   0.000000       0.000000
                        899   0.000000       0.000000
                        900   0.000000       0.000000
                        901   0.000000       0.000000
                        902   0.333333       0.333333
...                                ...            ...
Wolverhampton Wanderers 227   0.000000       0.000000
                        228   0.000000       0.000000
                        229   0.000000       0.000000
                        230   0.000000       0.000000
                        231   0.000000       0.000000

[1317 rows x 41 columns]

In [ ]:
matches_rolling = matches_rolling.droplevel('team')

In [ ]:
matches_rolling

,Unnamed: 0,date,time,comp,round,day,venue,result,gf,ga,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
898,6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,...,6,1,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
899,7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,...,5,0,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
900,9,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,...,6,0,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
901,11,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,...,6,1,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
902,13,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,...,6,0,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,32,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,...,6,1,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
228,33,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,...,4,0,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
229,34,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,...,5,1,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
230,35,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,...,4,0,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
231,36,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,...,6,0,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [ ]:
matches_rolling.index = range(matches_rolling.shape[0])

In [ ]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    precision = precision_score(test["target"], preds)
    return combined, precision

In [ ]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [ ]:
precision

0.625

In [ ]:
combined = combined.merge(matches_rolling[["date", "team","opponent","result"]], left_index = True, right_index = True)

In [ ]:
combined

,actual,predicted,date,team,opponent,result
55,0,0,2022-01-23,Arsenal,Burnley,D
56,1,0,2022-02-10,Arsenal,Wolves,W
57,1,0,2022-02-19,Arsenal,Brentford,W
58,1,1,2022-02-24,Arsenal,Wolves,W
59,1,1,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
1312,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W
1313,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L
1314,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W
1315,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L
1316,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L

In [ ]:
class MissingDict(dict):
    __missing__ = lambda self, key:key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [ ]:
combined["new_team"] = combined["team"].map(mapping)

In [ ]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [ ]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves,0,0,Everton,Wolves,L,Everton
258,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves,1,0,Leeds United,Wolves,W,Leeds United
259,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves,0,0,Aston Villa,Wolves,L,Aston Villa
260,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,0,Newcastle United,Wolves,W,Newcastle Utd
261,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves,1,0,Burnley,Wolves,W,Burnley

In [ ]:
merged[(merged["predicted_x"]==1) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

1    27
0    13
Name: actual_x, dtype: int64